language: go
go:
  - "1.8"

dist: trusty

sudo: false

env:
  - HUGO_VERSION=0.56.0

install: true

before_script:
  - wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.deb
  - sudo dpkg -i hugo_${HUGO_VERSION}_Linux-64bit.deb
  - git config --global user.name "zhanglun"
  - git config --global user.email "zhanglun1410@gmail.com"

script:
  - echo "Deploying updates to GitHub..."
  # Build the project.
  - hugo

  # Go To Public folder
  - cp ./CNAME ./public/CNAME
  - git clone https://github.com/zhanglun/zhanglun.github.io.git .deploy_git
  - cd .deploy_git
  - git checkout master
  - cd ../
  - mv .deploy_git/.git/ ./public/
  - cd ./public
  - git add .
  - git commit -m "Travis CI Auto Builder at `date +"%Y-%m-%d %H:%M"`"
  - git push --force --quiet "https://${GH_TOKEN}@github.com/zhanglun/zhanglun.github.io.git" master:master

# deploy:
#   provider: pages
#   local-dir: public
#   skip-cleanup: true
#   github-token: ${GH_TOKEN}
#   keep-history: true
#   on:
#     branch: source # 博客源码的分支
branches:
  only:
    - source 
