---
import { FileText, Presentation } from "lucide-react";
import { SITE } from "src/config";
import AsideNavLink from "@components/AsideNavLink.astro";
import Layout from "@layouts/Layout.astro";
import getUniqueTags from "@utils/getUniqueTags";
import type { Frontmatter } from "src/types";
import Icon from "../../assets/icon.png";
import Libs from "./libs.astro";

const posts = await Astro.glob<Frontmatter>(
  "../../../contents/{blogs,notion}/**/*.md"
);

let tags = getUniqueTags(posts);
---

<Layout title={`Construction | ${SITE.title}`}>
  <div class="flex gap-3 flex-col sm:m-3 md:flex-row transition-[margin] duration-[700ms] ease-in-out md:m-12 md:ml-[0]">
    <aside
      class="fixed w-full h-screen overflow-auto overflow-x-hidden left-[0] top-[0] z-50 px-8 py-10 -left-[calc(100vw)] sm:w-2/4 md:left-[0] md:top-auto md:bg-transparent md:py-4 md:pb-1 transition-[width,height,padding] duration-[700ms] ease-in-out md:w-60 md:px-8 md:h-[calc(100vh-96px)]"
    >
      <div class="flex gap-4 flex-row">
        <img class="w-10 h-10 rounded-lg" src={Icon} alt="" />
        <div class="flex gap-1 justify-center flex-col whitespace-nowrap">
          <h1 class="text-sm text-stone-900">张小伦的网络日志</h1>
          <h2 class="text-xs text-stone-500">zhanglun.github.io</h2>
        </div>
      </div>
      <ol class="list-none p-0 m-0 -ml-2 mt-2">
        <li class="block text-sm group">
          <AsideNavLink href="/blogs" count={1}>
            <FileText size={16} />Writing
          </AsideNavLink>
        </li>
        <li class="block text-sm group">
          <AsideNavLink href="/projects" count={1}>
            <Presentation size={16} />Projects
          </AsideNavLink>
        </li>
      </ol>
    </aside>
    <main class="w-full">
      <div
        class="fixed left-[0] right-[0] top-[0] z-20 h-16 sm:left-3 sm:right-3 transition-[left,right,height] duration-[700ms] ease-in-out md:left-[240px] md:right-12 md:h-12"
      >
        <div
          class="bg-skin-fill mx-auto h-full relative after:content-[''] after:absolute after:bg-white after:-bottom-6 after:h-6 after:w-6 after:left-[0] after:rounded-tl-[20px] before:content-[''] before:absolute before:bg-white before:-bottom-6 before:h-6 before:w-6 before:right-[0] before:rounded-tr-[20px]"
        >
          <div class="absolute -bottom-6 h-6 w-6 left-[0] bg-skin-fill -z-10">
          </div><div
            class="absolute -bottom-6 h-6 w-6 right-[0] bg-skin-fill -z-10"
          >
          </div>
        </div>
      </div>
      <div
        class="hidden fixed h-3 bottom-[0] z-20 sm:left-3 sm:right-3 sm:block transition-[right,left,height] duration-[700ms] ease-in-out md:right-12 md:left-[240px] md:h-12"
      >
        <div
          class="bg-skin-fill mx-auto h-full relative after:content-[''] after:absolute after:bg-white after:bottom-3 after:h-6 after:w-6 after:left-[0] after:rounded-bl-[20px] before:content-[''] before:absolute before:bg-white before:bottom-3 before:h-6 before:w-6 before:right-[0] before:rounded-br-[20px] after:transition-[bottom] after:duration-[700ms] after:ease-in-out before:transition-[bottom] before:duration-[700ms] before:ease-in-out md:after:bottom-12 md:before:bottom-12"
        >
          <div
            class="absolute bottom-3 h-6 w-6 left-[0] bg-skin-fill -z-10 transition-[bottom] duration-[700ms] ease-in-out md:bottom-12"
          >
          </div><div
            class="absolute bottom-3 h-6 w-6 right-[0] bg-skin-fill -z-10 transition-[bottom] duration-[700ms] ease-in-out md:bottom-12"
          >
          </div>
        </div>
      </div>
      <div
        class="ml-60 bg-white p-8 h-full mx-auto pt-28 min-h-screen relative sm:p-16 sm:pt-24 sm:min-h-[calc(100vh-24px)] md:p-30 md:pt-17 transition-[min-height, margin] duration-[700ms] ease-in-out md:min-h-[calc(100vh-96px)] md:ml-60"
      >
        <div class="mx-auto max-w-[996px]">
          <Libs />
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
          <p class="my-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            optio quaerat quos earum soluta amet ipsum vel quidem temporibus,
            fuga veritatis esse eligendi! Debitis saepe soluta numquam similique
            quibusdam excepturi!
          </p>
        </div>
      </div>
    </main>
  </div>
</Layout>
