---
import * as React from "react";
import { NotionRenderer } from "react-notion-x";
import { NotionAPI } from "notion-client";
import { NotionList } from "@components/Notion/List";
import Layout from "@layouts/Layout.astro";

import "react-notion-x/src/styles.css";

const notion = new NotionAPI();

const recordMap = await notion.getPage("a819f8f879cf44d2bf897c1dabe50f89");

---

<Layout>
  <div>
    <NotionList recordMap={recordMap} />
  </div>
</Layout>
