---
import { NotionAPI } from "notion-client";
import { NotionList } from "@components/Notion/List";
import Layout from "@layouts/Layout.astro";
import { getPages } from "../../../scripts/notion/get-pages.mjs";
import "react-notion-x/src/styles.css";

const pages = await getPages();

---

<Layout>
  <div>
    <NotionList pages={pages} />
  </div>
</Layout>
  