---
import * as React from "react";
import { NotionRenderer } from "react-notion-x";
import { NotionAPI } from "notion-client";
import { NotionList } from "@components/Notion/List";
import Layout from "@layouts/Layout.astro";

import "react-notion-x/src/styles.css";

const notion = new NotionAPI();

const recordMap = await notion.getPage("WebRTC-34cff195717442f7bdc32ce899830655");
// https://invited-cairnsmore-12f.notion.site/WebRTC-34cff195717442f7bdc32ce899830655

---

<Layout>
  <div>
    <NotionList client:load recordMap={recordMap} />
  </div>
</Layout>
  