.article-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article-list-item {
  border-bottom: 1px solid #e2e2e2;
}

.article-list-item p {
  margin-bottom: var(--spacing-0);
  font-size: var(--content-font-size);
  text-align: center;
}

.article-list-item header {
  margin-bottom: var(--spacing-4);
  padding-top: 50px;
  text-align: center;
}

.article-list-item h2 {
  font-size: var(--fontSize-6);
  color: var(--color-heading);
  margin-bottom: var(--spacing-5);
  margin-top: 0;
}

.article-list-item h2:hover {
  color: var(--color-heading-black);
}

.article-list-item section { 
  margin: 50px 0 20px;
}

.article-list-item footer {
  padding: 40px 0;
  text-align: center;
}

.article-list-item .read-more {
  display: inline-block;
  width: 190px;
  height: 50px;
  line-height: 44px;
  border: 2px solid #636363;
  font-size: 13px;
  font-weight: var(--fontWeight-bold);
  background-color: var(--button-color);
  color: var(--button-text-color);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  text-decoration: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
}

.article-list-item .read-more:link {
  color: var(--button-text-color);
}

/* .article-list-item .read-more:hover {
  border-color: var(--color-heading);
  color: var(--color-heading);
} */

.article-list-item .read-more:after {
  content: "";
  background-color: var(--button-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.article-list-item .read-more:hover:after {
  top: 0px;
  left: 0px;
}

/* 文章样式 */
blockquote {
  font-weight: 400;
  color: #999;
}

.title {
  /* font-family: var(--sans-font); */
  font-size: calc(var(--content-font-size) * 2.5);
}

.desc {
  /* font-family: var(--sans-font); */
  font-size: calc(var(--content-font-size) * 1.2);
}

.content h2 {
  position: relative;
  margin: 80px 0 0;
  padding: 40px 0 50px;
  font-size: 25px;
  border-top: 1px solid rgb(240,240,240);
}

.content h2::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  left: 0;
  background: rgb(147,161,176);
}

.content h2::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  right: 0;
  background: rgb(147,161,176);
}