.article-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article-list-item {
  border-bottom: 1px solid #e2e2e2;
}

.article-list-item p {
  margin-bottom: var(--spacing-0);
  font-size: var(--content-font-size);
  text-align: center;
}

.article-list-item header {
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-4) 0;
  text-align: center;
}

.article-list-item h2 {
  font-size: var(--fontSize-5);
  color: var(--color-heading);
  margin-bottom: var(--spacing-5);
  margin-top: 0;
}

.article-list-item h2:hover {
  color: var(--color-heading-black);
}

.article-list-item section {
  margin: 50px 0 20px;
}

.article-list-item footer {
  padding: 40px 0;
  text-align: center;
}

.article-list-item .read-more {
  display: inline-block;
  width: 190px;
  height: 50px;
  line-height: 44px;
  border: 2px solid #636363;
  font-size: 13px;
  font-weight: var(--fontWeight-bold);
  background-color: var(--button-color);
  color: var(--button-text-color);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  text-decoration: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
}

.article-list-item .read-more:link {
  color: var(--button-text-color);
}

/* .article-list-item .read-more:hover {
  border-color: var(--color-heading);
  color: var(--color-heading);
} */

.article-list-item .read-more:after {
  content: "";
  background-color: var(--button-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.article-list-item .read-more:hover:after {
  top: 0px;
  left: 0px;
}

.article-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  margin: 60px 0;
  padding: 0 10px 60px 20px;
  line-height: 1.2;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.article-aside__item {
  margin-bottom: var(--spacing-5)
}

.aside-item__title {
  font-size: 11px;
  color: rgb(147, 161, 176);
}

.aside-item__content time {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
}

.aside-item__content .category-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
}

.aside-item__content .tag-item {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
}

.aside-item__content .tag-item::before {
  content: "#";
}


/* 文章样式 */
blockquote {
  font-weight: 400;
  color: #999;
}

.title {
  /* font-family: var(--sans-font); */
  font-size: calc(var(--content-font-size) * 2.5);
}

.desc {
  /* font-family: var(--sans-font); */
  font-size: calc(var(--content-font-size) * 1.2);
}

.content h2 {
  position: relative;
  margin: 80px 0 0;
  padding: 40px 0 50px;
  font-size: 25px;
  border-top: 1px solid rgb(240, 240, 240);
}

.content h2::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  left: 0;
  background: rgb(147, 161, 176);
}

.content h2::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  right: 0;
  background: rgb(147, 161, 176);
}

/* Article Card */

.article-main {
  padding-top: var(--header-height);
}

.article-list {
  position: fixed;
  display: flex;
  align-items: center;
  width: max-content;
  padding-top: 5.5vmin;
  padding-bottom: 9vmin;
  height: calc(100vh - 6.875rem);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(.23, 1, .32, 1);
}

.article-list li{
  margin:0;
  height: 100%;
}

.article-card {
  position: relative;
  width: 0;
  height: 100%;
  padding-right: calc(.54545455 * calc(calc(100vh - 6.875rem) - 5.5vmin - 9vmin));
  margin: 0 4.2vmin;
  border-radius: 0.8rem;
  overflow: hidden;
}

.article-card:hover .article-card__cover {
  transform: scale(1.1);
}

.article-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(1);
  will-change: transform;
  transition: transform .4s cubic-bezier(.23, 1, .32, 1);
}

.article-card__cover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .3) 67%);
}

.article-card__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3.5vmin;
  color: #fff;
}

.article-card__body h2 {
  line-height: 1.4;
  color: #fff;
  font-size: 3.4vmin;
  margin: 3vmin 0;
}

.article-card__title.hover-underline::after {
  background-color: #fff;
}

.article-card__categories {
  margin-bottom: 1vmin;
}

.article-card__category {
  font-size: 14px;
  color: #fff;
}

.article-card__tags {

}

.article-card__tag {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
}

.article-card__tag::before {
  content: "#";
}

@media screen and (max-width: 768px) {
  .article-list {
    /*display: block;*/
    /*position: static;*/
  }

  .article-card {
    padding-right: calc(100vw - 4rem);
  }

  .article-card__cover img {
    max-width: 100%;
    max-height: initial;
  }
}