:root {
  --bg-color: #d3dadf;
  --action-color: #000911;
}
.archive-page {
  width: 100%;
  background-image: url('images/leaves-pattern.png');

  &__container {
    margin: 0 auto;
    padding-left: 6.4rem;
    padding-right: 6.4rem;
    padding-bottom: 1px;
  }

  &__post-title {
    display: flex;
    margin: 0;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  &__post-excerpt {
    position: relative;
    margin-bottom: 3.2rem;
  }

  &__post-date {
    font-size: 1.4rem;
    color: var(--text-color);
  }
}

.archive-section {
  position: relative;
  margin-top: 10vw;
  margin-bottom: 24vw;
}

.archive-section__year {
  position: absolute;
  margin-top: 0;
  min-width: 100%;
  color: #c3cad0;
  color: var(--text-light-color, #c3cad0);
  font-size: 36vw;
  font-weight: 700;
  line-height: 0.2;
  letter-spacing: -0.05em;
  text-align: center;
  user-select: none;
  pointer-events: none;
  text-shadow: 2px 2px 0px rgb(174 175 176 / 56%);
}

.archive-posts {
  position: relative;
  display: grid;
  grid-gap: 3.2rem;
  grid-template-columns: repeat(auto-fill, minmax(25.6rem, 1fr));
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  list-style-type: none;

  a {
    color: var(--action-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.archive-date {
  margin-right: 20px;
}

.root {
  min-height: 100vh;
  /* background-color: #ffbc4b; */
}
