@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --screenWidth: tan(atan2(var(--_w), 1px));
    --screenHeight: tan(atan2(var(--_h), 1px));
    --accentColor: purple;
    --fontColorStatic: #1e1e1e;
    --fontColor: #1e1e1e;
    --fontInvertColor: #eaeaea;
    --buttonColor: #1e1e1e11;
    --borderColorLight: #1e1e1e44;
    --inactiveColor: #8d8d8d;
    --backgroundColor: #eaeaea;
    --middleColor: #eaeaea;
    --highlightColor: #c4e817;
    --stickyOffset: 60px;
    --windowFrameBG: #dcdcdc;
    --listItemIconColor: var(--fontColor);
    --tagColor: var(--fontColor);
    --counterColor: #1e1e1e;
    --artBackground: #e8e8e8;
    --artForeground: #eaeaea;
    --artStroke: #1e1e1e;
    --listItemText: #1e1e1e;

    --fontInvertColor: #e8e8e8;
    --buttonColor: #1e1e1e;
    --borderColorLight: #1e1e1e44;
    --inactiveColor: #8d8d8d;
    --backgroundColor: #e8e8e8;
    --highlightColor: #c4e817;
    --listItemIconColor: #1e1e1e;
    --plusIconColor: #1e1e1e;
    --globeGraphicColor: #1e1e1e;
    --tagTextColor: #1e1e1e;
    --headingTextColor: #1e1e1e;
    --bodyTextColor: #1e1e1e;
    --pixelTextColor: #1e1e1e;
    --marqueeTextColor: #1e1e1e;
    --filterTextActive: #1e1e1e;
    --squareTextColor: #1e1e1e;
    --sectionLabels: #1e1e1e;
    --borderColor: #1e1e1e;
    --filterBorderColor: #1e1e1e44;
    --tagBorderColor: #1e1e1e44;
    --tagHighlightColor: #c4e817;
    --dottedBorderColor: #1e1e1e44;
    --marqueeTagBorder: #1e1e1e44;
    --filterTextInactive: #1e1e1e44;
    --navButtonBG: #1e1e1e11;
    --counterColor: #1e1e1e;
    --windowFrameBG: #e9e9e9;
    --artBackground: transparent;
    --artForeground: #e8e8e8;
    --artStroke: #1e1e1e;
    --windowBarText: #011627;
    --terminalTextSecondary: #cacaca;
    --terminalTextPrimary: #e8e8e8;
    --terminalHighlight: #c4e817;
    --terminalBackground: #1e1e1e;
    --listItemText: #1e1e1e;
    --invertedTextColor: #1e1e1e;
    --codeBG: #1e1e1e;
    --codeBorderColor: #1e1e1e44;
    --blogImageBorder: #cacaca;
    --blogImageBG: #dedede;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@font-face {
  font-family: "SN Pro";
  src: url("/public/assets/SNPro-Regular.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-style: normal;
}
@font-face {
  font-family: "SN Pro";
  src: url("/public/assets/SNPro-RegularItalic.woff2")
    format("woff2-variations");
  font-weight: 200 900;
  font-style: italic;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* font-family: "SN Pro", Helvetica Neue, Arial, sans-serif; */
    font-family: "SN Pro", Helvetica Neue, Arial, sans-serif;
    color: var(--bodyTextColor);
    background: var(--backgroundColor);
    background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    line-height: initial;
  }

  .gridLayout {
    display: grid;
    width: 100%;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    padding: 0 12px;
    row-gap: 0;
    grid-template-columns: repeat(8, 1fr);

    @media (min-width: 760px) {
      grid-template-columns: repeat(16, 1fr);
    }

    @media (min-width: 960px) {
      grid-template-columns: repeat(24, 1fr);
    }
  }
}

.section {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
}

.text-smallcaps {
  color: var(--squareTextColor, --fontColor);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.012em;
  text-transform: uppercase;
}

.text-lg {
  font-size: calc(20px + ((43 - 20) * (100vw - 390px) / (1728 - 390)));
  line-height: 95%;
  letter-spacing: -0.06em;
  @media (min-width: 1728px) {
    font-size: 43px;
  }
}

.text-lg,
.text-md {
  color: var(--headingTextColor, --fontColor);
  font-family: "SN Pro", Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.text-md {
  font-size: calc(20px + ((27 - 20) * (100vw - 390px) / (760 - 390)));
  line-height: 100%;
  letter-spacing: -0.04em;
  @media (min-width: 760px) {
    font-size: calc(22px + ((27 - 22) * (100vw - 760px) / (960 - 760)));
  }

  @media (min-width: 960px) {
    font-size: calc(22px + ((28 - 22) * (100vw - 960px) / (1728 - 960)));
  }

  @media (min-width: 1728px) {
    font-size: 28px;
  }
}

.text-hero {
  color: var(--fontColor);
  font-size: calc(80px + ((150 - 80) * (100vw - 390px) / (960 - 390)));
  font-weight: 300;
  line-height: 100%;
  word-break: break-word;

  @media (min-width: 600px) {
    line-height: 84%;
    font-size: calc(50px + ((100 - 80) * (100vw - 600px) / (960 - 600)));
  }

  @media (min-width: 960px) {
    line-height: 84%;
    font-size: calc(50px + ((170 - 100) * (100vw - 960px) / (1728 - 960)));
  }

  @media (min-width: 1728px) {
    font-size: 100px;
  }
}

.articleBody {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  counter-reset: label-count;
}

.articleBody pre,
.articleBody > p {
  margin: 24px 0 0;
}

.articleBody > h2,
.articleBody > h3,
.articleBody > h4,
.articleBody > h5,
.articleBody > h6 {
  margin: 40px 0 0;
  & strong {
    font-weight: 300;
  }
}

.articleBody > :first-child {
  margin: 0;
}

.articleBody h1 {
  color: red;
  font-family: "SN Pro", Helvetica Neue, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
}

.articleBody h2 {
  font-size: 48px;
  letter-spacing: -2.88px;
}

.articleBody h2,
.articleBody h3 {
  color: var(--bodyTextColor);
  font-family: "SN Pro", Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

.articleBody h3 {
  font-size: 36px;
  letter-spacing: -1.8px;
}

.articleBody h4 {
  color: var(--bodyTextColor);
  font-family: "SN Pro", Helvetica Neue, Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -1.4px;
}

.articleBody h5 {
  font-size: 20px;
  letter-spacing: -0.4px;
}

.articleBody h5,
.articleBody h6 {
  color: var(--bodyTextColor);
  font-family: "SN Pro", Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.articleBody h6 {
  font-size: 18px;
  letter-spacing: -0.18px;
}

.articleBody li,
.articleBody p {
  color: var(--bodyTextColor);
  font-family: "SN Pro", Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.18px;
}

.articleBody a {
  position: relative;
  border-bottom: 1px solid var(--borderColor);
  transition: background-color 0.1s linear;
}

.articleBody a:hover {
  background-color: var(--highlightColor);
  color: var(--invertedTextColor);
}

.articleBody ol {
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  margin: 24px 0 0;
  padding-left: 24px;
}

.articleBody ul {
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  margin: 24px 0 0;
  padding-left: 28px;
}

.articleBody blockquote {
  border-left: 2px solid var(--bodyTextColor);
  padding-left: 16px;
  margin: 24px 0 0 12px;
}

.articleBody code::selection,
.articleBody code > span::selection {
  background: hsla(0, 0%, 100%, 0.15);
  color: inherit;
}

.articleBody code::selection {
  background: var(--windowFrameBG);
  color: var(--invertedTextColor);
}

.articleBody p code {
  border-radius: 4px;
  border: 1px solid var(--dottedBorderColor);
  background: var(--navButtonBG);
  color: var(--bodyTextColor);
  padding: 1px 3px;
  font-size: 14px;
  margin: 0 2px 1px;
  text-wrap: pretty;
  display: inline-block;
}

.articleBody table {
  margin: 56px 0 24px;
  border-collapse: collapse;
}

.articleBody table a:after {
  transform: translateY(calc(100% - 1px));
}

.articleBody th {
  font-weight: 300;
  text-align: left;
  padding: 4px 0;
}

.articleBody tr {
  border-bottom: 1px dotted var(--dottedBorderColor);
}

.articleBody td {
  padding: 12px 0;
}

.articleBody thead tr {
  border-bottom: 0.5px solid var(--bodyTextColor);
}

.articleBody strong {
  font-weight: 500;
}

.buttonSm {
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px 12px 8px;
  background: transparent;
  border-radius: 99px;
  border: 1px solid var(--buttonColor, --fontColor);
  cursor: pointer;
  letter-spacing: -0.42px;
  line-height: 1;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.buttonSm:visited {
  color: var(--buttonColor, --fontColor);
}

@media (pointer: fine) {
  .buttonSm:hover {
    background-color: var(--buttonColor);
    color: var(--backgroundColor);
  }
}

.astro-code {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  /* background: var(--codeBG) !important;
  border: 1px solid var(--codeBorderColor); */
}