.theme-1 {
  --background-color: #fef6e4;
  --background-color-1: #f3d2c1;
  --background-color-2: #fffffe;
  --background-color-3: #f582ae;
  --button-color: #f582ae;
  --button-text-color: #001858;
  --card-backgroud-color: #f3d2c1;
  --card-background-color: #fef6e4;
  --card-background-color-1: #001858;
  --card-heading-color: #001858;
  --card-headline-color: #fffffe;
  --card-headline-color-1: #001858;
  --card-highlight-color: #f582ae;
  --card-paragraph-color: #172c66;
  --card-tag-background-color: #fef6e4;
  --card-tag-text-color: #001858;
  --form-button-color: #f582ae;
  --form-button-text-color: #001858;
  --form-input-color: #f3d2c1;
  --headline-color: #001858;
  --highlight-color: #fef6e4;
  --label-placeholder-color: #001858;
  --link-color: #f582ae;
  --links-color: #fef6e4;
  --main-color: #f3d2c1;
  --paragraph-color: #172c66;
  --secondary-color: #8bd3dd;
  --stroke-color: #001858;
  --sub-headline-color: #172c66;
  --tertiary-color: #f582ae;
}

.theme-2 {
  --background-color: #55423d;
  --background-color-1: #271c19;
  --background-color-2: #ffc0ad;
  --background-color-3: #9656a1;
  --button-color: #ffc0ad;
  --button-text-color: #271c19;
  --card-backgroud-color: #fffffe;
  --card-background-color: #55423d;
  --card-background-color-1: #ffc0ad;
  --card-heading-color: #fffffe;
  --card-headline-color: #271c19;
  --card-highlight-color: #9656a1;
  --card-paragraph-color: #fff3ec;
  --card-paragraph-color-1: #271c19;
  --card-tag-background-color: #fffffe;
  --card-tag-text-color: #271c19;
  --form-button-color: #9656a1;
  --form-button-text-color: #fffffe;
  --form-input-color: #fffffe;
  --headline-color: #fffffe;
  --headline-color-1: #271c19;
  --highlight-color: #e78fb3;
  --label-placeholder-color: #271c19;
  --link-color: #9656a1;
  --links-color: #e78fb3;
  --main-color: #fff3ec;
  --paragraph-color: #fff3ec;
  --paragraph-color-1: #271c19;
  --secondary-color: #ffc0ad;
  --stroke-color: #140d0b;
  --sub-headline-color: #fff3ec;
  --tertiary-color: #9656a1;
}

.theme-3 {
--background-color: #faeee7;
--background-color-1: #fffffe;
--background-color-2: #fffffe;
--background-color-3: #33272a;
--button-color: #ff8ba7;
--button-text-color: #33272a;
--card-backgroud-color: #faeee7;
--card-background-color: #faeee7;
--card-background-color-1: #fffffe;
--card-heading-color: #33272a;
--card-headline-color: #33272a;
--card-highlight-color: #33272a;
--card-paragraph-color: #594a4e;
--card-tag-background-color: #ffc6c7;
--card-tag-text-color: #33272a;
--form-button-color: #ff8ba7;
--form-button-text-color: #33272a;
--form-input-color: #faeee7;
--headline-color: #33272a;
--highlight-color: #ff8ba7;
--label-placeholder-color: #33272a;
--link-color: #ff8ba7;
--links-color: #ff8ba7;
--main-color: #fffffe;
--paragraph-color: #594a4e;
--secondary-color: #ffc6c7;
--stroke-color: #33272a;
--sub-headline-color: #594a4e;
--tertiary-color: #c3f0ca;
}

.theme-4 {
--background-color: #fffffe;
--background-color-1: #e3f6f5;
--background-color-2: #e3f6f5;
--background-color-3: #bae8e8;
--button-color: #ffd803;
--button-text-color: #272343;
--card-backgroud-color: #fffffe;
--card-background-color: #fffffe;
--card-background-color-1: #272343;
--card-heading-color: #272343;
--card-headline-color: #fffffe;
--card-headline-color-1: #272343;
--card-highlight-color: #bae8e8;
--card-paragraph-color: #2d334a;
--card-tag-background-color: #bae8e8;
--card-tag-text-color: #272343;
--form-button-color: #272343;
--form-button-text-color: #fffffe;
--form-input-color: #fffffe;
--headline-color: #272343;
--highlight-color: #ffd803;
--label--placeholder-color: #272343;
--link-color: #272343;
--links-color: #ffd803;
--main-color: #fffffe;
--paragraph-color: #2d334a;
--secondary-color: #e3f6f5;
--stroke-color: #272343;
--sub-headline-color: #2d334a;
--tertiary-color: #bae8e8;
}

/* const links = document.querySelectorAll(".section-hues-row");
const values = [].map.call(links, (item) => {
  const name =
    "--" +
    item
      .querySelector(".hue-title")
      .innerText.trim()
      .toLowerCase()
      .replace(/&/ig, '')
      .replace(/\s/gi, "-") +
    "-color";
  const value = item.querySelector(".hue-hex").innerText.trim();
  return {
    name,
    value,
  };
});

const table = {};
console.log(values);

const result = values.reduce((acu, cur) => {
  if (acu[cur.name] && acu[cur.name] === cur.value) {
    return acu;
  }

  if (acu[cur.name]) {
    acu[cur.name + "-" + table[cur.name]] = cur.value;
    table[cur.name] = (table[cur.name] || 0) + 1;
    return acu;
  }

  acu[cur.name] = cur.value;
  table[cur.name] = (table[cur.name] || 0) + 1;

  return acu;
}, {});
console.log('table', table);
console.log(result); */
