---
import Layout from "@layouts/Layout.astro";
import AboutMd from "../content/about/index.md";
---

<Layout>
  <header class="flex items-start">
    <h1
      class="w-full text-4xl font-bold leading-10 pr-8 text-text-lvl-1 lg:w-1/3"
    >
      About
    </h1>
  </header>
  <AboutMd />
</Layout>
