---
import Main from "@layouts/Main.astro";
import { SITE, MENU } from "@config";
import getSortedPosts from "@utils/getSortedPosts";
import type { Frontmatter } from "src/types";
import { RichHome } from "@components/Home/Rich";

const posts = await Astro.glob<Frontmatter>("../../contents/{blogs,notion}/**/*.md");
const sortedPosts = getSortedPosts(posts);
const recentlyPosts = sortedPosts.slice(0, 6);
---

<Main>
  <RichHome siteInfo={SITE} menu={MENU} recentlyPosts={recentlyPosts} />
</Main>
