---
import { SITE } from "src/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { Frontmatter } from "src/types";
import { Lab } from "../components/Lab";
---

<Layout title={`Labs | ${SITE.title}`}>
  <Header activeNav="labs" />
  <Main pageTitle="å®žéªŒå®¤ðŸ§ª" pageDesc="å„ç§å¥‡æ€å¦™æƒ³çš„å®žéªŒ">
    <Lab />
  </Main>
  <Footer />
</Layout>
