.main {
  padding: 1px;
  width: 80%;
  margin: 0 auto;
  display: grid;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: var(--color-heading-black);
}

.subTitle {
  font-size: 2rem;
}

.entry {
}