---
import clsx from "clsx";
export interface Props {
  href: string;
  className?: string;
  count?: any;
}

const { count, href, className } = Astro.props;
---

<a
  href={href}
  class={clsx(
    'relative px-3 rounded-lg flex items-center justify-between pointer text-sm group after:block after:content-[""] after:-z-10 after:absolute after:top-[0] after:left-[0] after:w-full after:h-full after:rounded-lg after:opacity-0 after:scale-90 after:transition-all after:duration-300 after:ease-in-out hover:after:opacity-100 hover:after:scale-100 md:transition-all md:duration-[500ms] md:ease-in-out md:mr-0 py-[8px] after:bg-neutral-200',
    className
  )}
>
  <div class="flex items-center gap-3">
    <slot />
  </div>
  <div
    class="hidden h-4 w-4 bg-nav-hotkey-bg rounded text-[10px] md:flex items-center justify-center font-mono md:opacity-100"
  >
    {count}
  </div>
</a>
