---
import { Hash } from "lucide-react";
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block text-center ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/categories/${name}`}
    class={`flex items-center ${size === "sm" ? "pr-1 text-sm" : "pr-2 text-lg"} group`}
  >
    <Hash
      size="20"
      className={`${size === "sm" ? " scale-75" : "scale-110"}`}
    />
    &nbsp;<span>{name}</span>
  </a>
</li>

<style>
  a {
    @apply underline decoration-dashed hover:text-accent relative hover:-top-0.5 focus-visible:p-1;
  }
</style>
