---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "max-w-screen-2xl" : "max-w-screen-2xl mt-auto"} w-full context`}>
  <div class="py-6 sm:py-4 flex flex-col sm:flex-row-reverse justify-between items-center">
    <Socials centered />
    <div class="my-2 flex flex-col sm:flex-row items-center whitespace-nowrap">
      <span>Copyright &#169; {currentYear}</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>
