---
export interface Props {
  name: string;
  count?: number;
  hideCount?: boolean;
}

const { name, count = 0, hideCount } = Astro.props;
---

<div class="text-neutral-500 hover:text-neutral-700">
  <span class="text-xs">{name}</span>
  {!hideCount && <sup class="text-[10px]">{count}</sup>}
</div>
