---
export interface Props {
  name: string;
  count: number;
}

const { name, count = 0 } = Astro.props;
---

<div>
  <div class="text-neutral-500 hover:text-neutral-700">
    <span class="text-base">{name}</span>
    <sup>{count}</sup>
  </div>
</div>
