@import "./styles/theme.css";

/* CSS Custom Properties Definitions */
:root {
  --sans-font: "'Montserrat'", "Noto Sans", "Noto Sans TC", "Noto Sans SC", sans-serif !important;
  --serif-font: "Noto Serif", "Noto Serif TC", "Noto Sans TC", serif !important;
  --inline-code-font: monospace !important;
  --mono-font: "JetBrains Mono", monospace !important;
  --content-font-size: 16px;

  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --main-max-width: 1040px;
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --main-spacing: 100px;
  --fontFamily-sans: 'Montserrat', "Noto Serif SC", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-serif: "Noto Serif SC", "Merriweather", "Georgia", Cambria,
    "Times New Roman", Times, serif;
  --font-body: 'Montserrat';
  --font-heading: 'Montserrat';
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.9;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #005b99;
  /* --color-text: #2e353f; */
  --color-text: rgb(29,43,54);
  --color-text-light: #4f5969;
  --color-heading: #45525b;
  --color-heading-black: black;
  --color-accent: #d1dce5;

  --header-height: 60px;

  /* --background-color: #fafafa;
  --main-color: #fff; */
  --background-color: #fafafa;
  --background-color-1: #f3d2c1;
  --background-color-2: #fffffe;
  --background-color-3: #f582ae;
  --button-color: #636363;
  --button-text-color: #fff;
  --card-backgroud-color: #f3d2c1;
  --card-background-color: #fef6e4;
  --card-background-color-1: #001858;
  --card-heading-color: #001858;
  --card-headline-color: #fffffe;
  --card-headline-color-1: #001858;
  --card-highlight-color: #f582ae;
  --card-paragraph-color: #172c66;
  --card-tag-background-color: #636363;;
  --card-tag-text-color: #fff;
  --form-button-color: #f582ae;
  --form-button-text-color: #001858;
  --form-input-color: #f3d2c1;
  --headline-color: #001858;
  --highlight-color: #fef6e4;
  --label--placeholder-color: #001858;
  --link-color: #f582ae;
  --links-color: #fef6e4;
  --main-color: #f3d2c1;
  --paragraph-color: #172c66;
  --secondary-color: #8bd3dd;
  --stroke-color: #001858;
  --sub-headline-color: #172c66;
  --tertiary-color: #f582ae;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: #fafafa;
  letter-spacing: 1px;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-normal);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
} */

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  padding: var(--spacing-5);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-1);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

.quote {
  border: 2px solid #636363;
  color: #636363;
  box-shadow: 15px 15px 0 0 #636363;
  margin: var(--spacing-16) 15px  var(--spacing-16) 0;
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote p {
  margin-bottom: var(--spacing-3);
}
blockquote li {
  margin: 0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
  padding-left: var(--spacing-4);
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
  border: 1px solid #e9e9e7;
  font-size: 14px;
}

table td, table th {
  border-bottom: 1px solid #e9e9e7;
  padding: 8px 10px;
}

table thead tr th {
  text-align: left;
  background-color: #f7f6f3;
}

p img {
  max-width: 100%;
}

/* Link */

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  background-color: #fafafa;
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main {
  position: relative;
  z-index: 1;
  max-width: var(--main-max-width);
  width: 90%;
  margin: 0 auto;
  padding: 10px var(--main-spacing) 10px;
  background-color: var(--background-color-2);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.article-section {
  position: relative;
  z-index: 1;
  max-width: 760px;
  margin: 0 auto;
}

.article-cover {
  width: 100%;
  height: 380px;
  margin-bottom: 60px;
  object-fit: cover;
  border: 1px solid rgb(29,43,54);
}

@media screen and (max-width: 999px) {
  .article-section {
    max-width: 100%;
    padding: 0 20px 0;
  }
}


.blog-post {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(29,43,54);
  padding-bottom: 60px;
  line-height: 1.9;
}

.blog-post::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: rgb(29,43,54);
}

.blog-post:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: -2px;
  right: 0;
  background: rgb(29,43,54);
}


.blog-post header {
  position: relative;
  margin-top: 50px;
  border-top: 1px solid rgb(29,43,54);
}

.blog-post header::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  left: 0;
  background: rgb(29,43,54);
}

.blog-post header:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  right: 0;
  background: rgb(29,43,54);
}

.blog-post header h1 {
  /* margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0); */
  margin: 60px 0;
  line-height: 1.4;
  font-size: 36px;
  font-weight: 700;
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-3);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    padding-left: 14px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.pagination .prev:hover, .pagination .next:hover {
  text-decoration: underline;
}

.link-underline {
  box-shadow: inset 0 0 0 0 var(--color-primary);
  padding: 0 0.25rem;
  margin: 0 0.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link-underline:hover {
  color: #fff;
  box-shadow: inset 0 -40px 0 0 var(--color-primary);
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 4px;
  left: 0;
  background-color: var(--color-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-title {
  padding-top: 50px;
  text-align: center;
  font-size: var(--fontSize-6);
  color: var(--color-heading);
  margin-bottom: var(--spacing-5);
}

/* 分类卡片 */
.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-row-gap: 40px;
  padding: 30px 0 60px;
}

.category-img {
  width: 150px;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transition: all ease-in-out 0.3s;
}

.category-img img {
  width: 100%;
}

.category-item {
  text-align: center;
  text-decoration: none;
}

.category-item:hover {
  color: var(--color-text);
}

.category-item:hover .category-img {
  background-color: rgba(0, 0, 0, 0.35);
}

.category-page-header {
  padding: 50px 0;
  display: grid;
  justify-items: center;
}

/* Archive */

.archive-item {
  margin-bottom: 50px;
}

.archive-year {
  font-size: 26px;
}

.archive-item-list {
  list-style-type: none;
  padding-top: 10px;
  margin-left: 0;
}

.archive-item-list li {
  margin: 8px 0;
}

.archive-item-list a {
  text-decoration: none;
}

.archive-item-list a:hover {
  text-decoration: underline;
}

.archive-date {
  margin-right: 20px;
}


