@import "./styles/theme.css";

/* CSS Custom Properties Definitions */
:root {
  --inline-code-font: monospace !important;
  --mono-font: "JetBrains Mono", monospace !important;
  --content-font-size: 16px;

  --maxWidth-none: "none";
  --maxWidth-xs: 999px;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-5xl: 64rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --main-max-width: 750px;
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --main-spacing: 100px;
  --font-family-sans: "Noto Sans SC", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-body: var(--font-family-sans);
  --font-heading: var(--font-family-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 10px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.9;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #492d22;
  --color-light-cream: #FCFBF7;
  --color-cream: #F6F5F1;
  --color-tinted-cream: #E6E3E1;
  --color-black: #1e2732;
  --color-gray-800: #4A4A46;
  --color-gray-600: #73706D;
  --color-gray-500: #8E8F94;
  --color-gray-400: #AFB0B6;
  --color-gray-300: #D3D3D1;
  --color-gray-100: #E9E9E7;
  --color-bright-crimson: #960462;
  --color-crimson: #5F023E;
  --color-sea-blue: #04A5BB;
  --color-medium-sea-blue: #008BA3;
  --color-dark-sea-blue: #00758F;
  --color-purple: #7558B2;
  --color-salmon: #FD8370;
  --color-text: #353534;
  --color-text-light: #4f5969;
  --color-heading: #1e2732;
  --color-accent: #d1dce5;

  --header-height: 60px;

  --img-border-color: #313B44;
  --img-border-radius: 8px;
  --box-shadow-lg: 0.2px 0.4px 0.8px -10px rgba(0,0,0,0.03), 0.4px 0.9px 2px -10px rgba(0,0,0,0.03), 0.8px 1.8px 3.8px -10px rgba(0,0,0,0.038), 1.3px 3.1px 6.7px -10px rgba(0,0,0,0.045), 2.5px 5.8px 12.5px -10px rgba(0,0,0,0.06), 6px 14px 30px -10px rgba(0,0,0,0.08);
  
  --lightBlueHS: 199, 33%;
  --yellowHS: 49, 100%;
  --redHS: 349, 100%;
  --yellowHSL: 49, 100%, 50%;
  --lightGrayHSL: 220, 2%, 66%;
  --lightBlueHSL: 199, 33%, 61%;
  --darkBlueHSL: 201, 42%, 35%;
  --orangeHSL: 22, 100%, 54%;
  --redHSL: 349, 100%, 45%;
  --midGrayHSL: 204, 2%, 54%;
  --darkGrayHSL: 210, 4%, 27%;
  --darkerGrayHSL: 349, 25%, 16%;
  --whiteHSL: 0, 0%, 99%;
  --trueWhiteHSL: 0, 0%, 100%;
  --blackHSL: 210, 33%, 9%;
  --trueBlackHSL: 0, 0%, 0%;
  --white: hsl(var(--whiteHSL));
  --trueWhite: hsl(var(--trueWhiteHSL));
  --black: hsl(var(--blackHSL));
  --trueBlack: hsl(var(--trueBlackHSL));
  --headingFont: "Averta-Std", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --bodyFont: "Alkes", Georgia, serif;
  --codeFont: "MonoLisa", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --bodyFontWeight: normal;
  --yellowHSL: 49, 100%, 50%;
  --yellow: hsl(var(--yellowHSL));
  --orange: hsl(var(--orangeHSL));
  --red: hsl(var(--redHSL));
  --lightGray: hsl(var(--lightGrayHSL));
  --midGray: hsl(var(--midGrayHSL));
  --darkGray: hsl(var(--darkGrayHSL));
  --darkerGray: hsl(var(--darkerGrayHSL));
  --lightBlue: hsl(var(--lightBlueHSL));
  --lighterBlue: hsl(var(--lightBlueHS), 90%);
  --lightestBlue: hsl(var(--lightBlueHS), 95%);
  --darkBlue: hsl(var(--darkBlueHSL));
  --darkerBlue: hsl(var(--darkBlueHSL), 20%);
  --blueToYellow: #7ba7bc, #75b1bf, #66c6b6, #4fd27b, #56e035, #acef1b, #faf008, #ffd100;
  --ink: var(--darkGray);
  --paper: var(--white);
  --paperHSL: var(--whiteHSL);
  --headingColor: var(--darkerGray);
  --accentColor: var(--darkBlue);
  --linkColor: var(--darkBlue);
  --highlightColor: var(--darkGray);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  // background-color: var(--color-cream);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-normal);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-gray-800);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

pre[class*="language-"] {
  white-space: pre-wrap;
  border-radius: 0px;
}

code[class*="language-"] {
  font-size: 14px;
  white-space: pre-wrap;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

/* Prose */

p {
  line-height: var(--lineHeight-normal);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
  font-size: 1.6rem;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
} */

ul li,
ol li {
  padding-left: var(--spacing-0);
  /*margin-bottom: calc(var(--spacing-8) / 2);*/
}

ul, ol {
  margin-bottom: 1.5em;
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

// li *:last-child {
//   margin-bottom: var(--spacing-0);
// }

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  padding: var(--spacing-5);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-1);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

.quote {
  border-left: 2px solid #636363;
  color: #636363;
  margin: 0 0 var(--spacing-16) 0;
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #f9f9f9;
  font-style: italic;
  transition: .3s;
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote p {
  margin-bottom: var(--spacing-3);
}
blockquote li {
  margin: 0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
  padding-left: var(--spacing-4);
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
  border: 1px solid #e9e9e7;
  font-size: 14px;
}

table td, table th {
  border-bottom: 1px solid #e9e9e7;
  padding: 8px 10px;
}

table thead tr th {
  text-align: left;
  background-color: #f7f6f3;
}

p img {
  max-width: 100%;
  border-radius: var(--img-border-radius);
  border: 0.5px solid var(--color-tinted-cream);
  box-shadow: var(----box-shadow-lg);
}

/* Link */

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main {
  position: relative;
  z-index: 1;
  max-width: var(--main-max-width);
  width: 90%;
  margin: 0 auto;
  padding: 30px var(--main-spacing) 30px;
  background-color: var(--background-color-2);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.article-section {
  position: relative;
  z-index: 1;
  max-width: var(--main-max-width);
  margin: 0 auto;
}

.article-cover {
  width: 100%;
  height: 380px;
  margin-bottom: 60px;
  object-fit: cover;
  border-radius: var(--img-border-radius);
  border: 1px solid rgb(240,240,240);
}

@media screen and (max-width: 999px) {
  .article-section, .pagination {
    max-width: 100%;
    padding: 0 20px 0;
  }
}


.blog-post {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(29,43,54);
  padding-bottom: 60px;
  line-height: 1.9;
}

.blog-post::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: rgb(29,43,54);
}

.blog-post:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: -2px;
  right: 0;
  background: rgb(29,43,54);
}


.blog-post header {
  position: relative;
  margin-top: 50px;
  border-top: 1px solid rgb(29,43,54);
}

.blog-post header::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  left: 0;
  background: rgb(29,43,54);
}

.blog-post header:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: -2px;
  right: 0;
  background: rgb(29,43,54);
}

.blog-post header h1 {
  margin: 60px 0;
  line-height: 1.4;
  font-size: 36px;
  font-weight: var(--fontWeight-semibold);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-3);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    padding-left: 14px;
  }
}

.pagination {
  max-width: var(--main-max-width);
  padding: 50px 0;
  margin: 0 auto;
}

.pagination .prev:hover, .pagination .next:hover {
  text-decoration: underline;
}

.link-underline {
  box-shadow: inset 0 0 0 0 var(--color-primary);
  padding: 0 0.25rem;
  margin: 0 0.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: underline;
}

.link-underline:hover {
  color: #fff;
  box-shadow: inset 0 -40px 0 0 var(--color-primary);
}

.hover-underline {
  position: relative;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 4px;
  left: 0;
  background-color: var(--color-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-title {
  padding-top: 50px;
  text-align: center;
  font-size: var(--fontSize-6);
  color: var(--color-heading);
  margin-bottom: var(--spacing-5);
}

::selection {
  background: var(--yellow);
  color: var(--highlightColor);
}

::-moz-selection {
  background: var(--yellow);
  color: var(--highlightColor);
}

@import "./styles/archive.scss";
@import "./styles/category.scss";
@import "./styles/lab.scss";