---
import { SITE } from "src/config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { ArchiveList } from "@components/ArchiveList";

export interface Props {
  yearGroup: any
}

const { yearGroup } = Astro.props;
---

<Layout title={`Archives | ${SITE.title}`}>
  <Header activeNav="archives" />
  <Main pageTitle="Archives" pageDesc="All the blogs archived by year.">
    <div class="m-auto max-w-screen-2xl context">
      <ArchiveList archiveMap={yearGroup} />
    </div>
  </Main>
  <Footer />
</Layout>
