---
import { SITE } from "src/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Category from "@components/Category.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

export interface Props {
  categories: any;
}

const { categories } = Astro.props;
---

<Layout title={`Categories | ${SITE.title}`}>
  <Header activeNav="categories" />
  <Main pageTitle="Categories" pageDesc="All the categories used in blogs.">
    <div class="m-auto max-w-screen-2xl context">
      <ul class="grid gap-24 text-[1.8rem] grid-cols-4 justify-center">
        {categories.map((category: any) => <Category name={category} size="lg" />)}
      </ul>
    </div>
  </Main>
  <Footer />
</Layout>
