---
import { SITE } from "src/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import { ListPagination } from "@components/ListPagination";
import slugify from "@utils/slugify";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types";
import { NotionPage } from "@components/Notion";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: MarkdownInstance<Frontmatter>[];
  allPosts: MarkdownInstance<Frontmatter>[];
}

const { pageNum, totalPages, posts, allPosts } = Astro.props;

console.log(posts[0])

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="blogs" />
  <Main pageTitle="Notions" pageDesc="All the articles I've posted.">
    <NotionPage recordMap={recordMap} rootPageId={rootNotionPageId} client:load />
  </Main>
  <Footer noMarginTop={totalPages > 1} />
</Layout>

<style>
  .pagination-wrapper {
    @apply max-w-screen-2xl mx-auto w-full flex justify-center mt-auto mb-8;
  }
  .disabled {
    @apply opacity-50 hover:text-skin-base group-hover:fill-skin-base pointer-events-none select-none;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
