.article-category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-6);
}

.article-category {
  background-color: var(--card-tag-background-color);
  color: var(--card-tag-text-color);
  margin: 0 4px;
  padding: 4px 14px;
  font-size: 14px;
  line-height: 20px;
}
